<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
    <link rel="stylesheet" href="../node_modules\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="../challenge03\mysolution\assets\css\style.css">
    
</head>
<body>

    <div class="container">
        
       <div class="card">
           <div class="card-body">
               <h5 class="card-title">Título do cartão</h5>
               <h6 class="card-subtitle">Subtítulo do cartão</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit voluptatibus ipsum odio officia, tempora in eveniet, nostrum, rerum corrupti dignissimos unde. Aliquam aspernatur dolore nam praesentium maxime totam repudiandae recusandae.</p>
                <button class="btn btn-primary card-link">OK</button>
                <a href="#" class="card-link">Ação 1</a>
                <a href="#" class="card-link">Ação 2</a>
            </div>
       </div>

       <hr>

       <div class="card">
            <img src="https://picsum.photos/536/354" alt="img" class="card-img-top">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Título do cartão</h5>  
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident temporibus magni ipsum.</p>              
                <a href="#" class="card-link">Ação</a>
            </div>
        </div>

       <hr>

       <div class="card">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Título do cartão</h5>
                <figure class="figure">
                    <img src="https://picsum.photos/536/354" alt="img">
                    <figcaption class="figure-caption">
                        Random image from Lorem Picsum.
                    </figcaption>
                </figure>
                <a href="#" class="card-link">Ação</a>
            </div>
        </div>
        
        <hr>

       <div class="card">
            <img src="https://picsum.photos/536/354" alt="img" class="card-img-top">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
            </ul>
        </div>

        <hr>

        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Title of Card</h1>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nulla assumenda voluptatem quibusdam dolore architecto incidunt quas distinctio, illo quisquam numquam vero ex possimus, minus natus! Fugit corrupti accusantium inventore!</p>
            </div>
            <div class="card-footer">
                <p>Rodapé - Direitos reservados</p>
            </div>
        </div>

        <hr>

        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item"><a href="#card-01" data-toggle="tab" class="nav-link active">Link</a></li>
                    <li class="nav-item"><a href="#card-02" data-toggle="tab" class="nav-link">Link</a></li>
                    <li class="nav-item"><a href="#card-03" data-toggle="tab" class="nav-link">Link</a></li>
                </ul>
            </div>
            <div class="card-body tab-content">
                <div class="card-item tab-pane fade show active" id="card-01">
                    <p>Card content 01</p>
                    <img src="https://picsum.photos/536/354" alt="img" class="card-img-top">
                </div>
                <div class="card-item tab-pane fade show" id="card-02">
                    <p>Card content 02</p>
                    <img src="https://picsum.photos/536/353" alt="img" class="card-img-top">
                </div>
                <div class="card-item tab-pane fade show" id="card-03">
                    <p>Card content 03</p>
                    <img src="https://picsum.photos/536/352" alt="img" class="card-img-top">
                </div>
            </div>
            <div class="card-footer">
                <p>Rodapé - Direitos reservados</p>
            </div>
        </div>

        <hr>

        <div class="card">
            <img src="https://picsum.photos/536/354" alt="img" class="card-img">
            <div class="card-img-overlay text-white">
                <h5 class="card-title">Título da imagem</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias exercitationem quaerat quos est cum animi, ad aliquid nostrum doloremque suscipit eveniet! Minima, ipsum explicabo commodi fuga ducimus porro velit itaque?</p>
            </div>
        </div>

        <hr>

        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://picsum.photos/536/354" alt="img" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Título</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ullam recusandae distinctio optio nihil nam impedit placeat totam earum, maxime hic neque alias iusto ratione saepe repudiandae. Consequatur, ratione dolorem!</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>    

    <script src="../node_modules\jquery\dist\jquery.min.js"></script>
    <script src="../node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
    <script>
        


    </script>
    
</body>
</html>