<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forms-radio-checkbox</title>
    <link rel="stylesheet" href="../node_modules\bootstrap\dist\css\bootstrap.min.css">

    <style>
        form{
            background-color: #eee;
            padding: 10px;
            border: #ccc 1px solid;
            border-radius: 2px;
            margin: 40px auto;
        }
    </style>
</head>
<body>

    <div class="container">

        <form action="">

            <div class="row">
                <div class="col">
                    <input type="text" name="first-name" id="first-name" placeholder="Primeiro nome..." class="form-control">
                </div>
                <div class="col">
                    <input type="text" name="last-name" id="last-name" placeholder="Último nome..." class="form-control">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>

        <hr>

        <form action="">

            <div class="form-row">
                <div class="col form-group">
                    <label for="">Primeiro nome</label>
                    <input type="text" name="first-name" id="first-name" placeholder="Primeiro nome..." class="form-control">
                </div>
                <div class="col form-group">
                    <label for="">Último nome</label>
                    <input type="text" name="last-name" id="last-name" placeholder="Último nome..." class="form-control">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>

    <script src="../node_modules\jquery\dist\jquery.min.js"></script>
    <script src="../node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
    
</body>
</html>