<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forms-range</title>
    <link rel="stylesheet" href="../node_modules\bootstrap\dist\css\bootstrap.min.css">

    <style>
        form{
            background-color: #eee;
            padding: 10px;
            border: #ccc 1px solid;
            border-radius: 2px;
            margin: 60px auto;
        }
    </style>
</head>
<body>

    <div class="container">

        <form action="">

            <div class="form-group">
                <label for="volume">Volume</label>
                <input class="form-control-range" type="range" name="volume" id="volume">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>

    <script src="../node_modules\jquery\dist\jquery.min.js"></script>
    <script src="../node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
    
</body>
</html>