<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forms-sizes</title>
    <link rel="stylesheet" href="../node_modules\bootstrap\dist\css\bootstrap.min.css">

    <style>
        form{
            background-color: #eee;
            padding: 10px;
            border: #ccc 1px solid;
            border-radius: 2px;
            margin: 60px auto;
        }
    </style>
</head>
<body>

    <div class="container">

        <form action="">

            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control form-control-sm" type="email" name="email" id="email" placeholder="Digite algo...">
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Digite algo...">
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control form-control-lg" type="email" name="email" id="email" placeholder="Digite algo...">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>

    <script src="../node_modules\jquery\dist\jquery.min.js"></script>
    <script src="../node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
    
</body>
</html>