<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tooltips</title>
    <link rel="stylesheet" href="../node_modules\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="../challenge03\mysolution\assets\css\style.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <style>
        .icons i{
            margin: 2px;
            font-size: 30px;
        }
    </style>
</head>
<body>    


    <div class="container d-flex justify-content-center">

        <div class="icons">
            <i class="fas fa-plus-square"></i>
            <i class="far fa-plus-square"></i>
            <i class="fab fa-plus-square"></i><!--ñ carrega, talvez pq seja PRO-->
            <i class="fas fa-ambulance"></i>
        </div>

        <button class="btn btn-danger mx-2"><i class="fas fa-ambulance mr-2"></i>Socorro</button>

    </div>


    <script src="../node_modules\jquery\dist\jquery.min.js"></script>
    <script src="../node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>

    <script>      
        $(()=>{
        })
    </script>
    
</body>
</html>