<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list-group-custom</title>
    <link rel="stylesheet" href="../assets\css\bootstrap.min.css">
</head>
<body>

    <div class="container">
    
        <!--a regra de semantica é ter <span> dentro de <a> e não <div>-->
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="d-flex justify-content-between">
                            <h5>Título 1</h5>
                            <small>há pouco</small>
                        </span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas odit sapiente voluptas inventore eveniet nisi delectus quo fugit? Voluptatem impedit adipisci aliquid dolore. Aperiam neque recusandae repellat ducimus perferendis!</p>
                        <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="d-flex justify-content-between">
                            <h5>Título 2</h5>
                            <small>há pouco</small>
                        </span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas odit sapiente voluptas inventore eveniet nisi delectus quo fugit? Voluptatem impedit adipisci aliquid dolore. Aperiam neque recusandae repellat ducimus perferendis!</p>
                        <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="d-flex justify-content-between">
                            <h5>Título 3</h5>
                            <small>há pouco</small>
                        </span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas odit sapiente voluptas inventore eveniet nisi delectus quo fugit? Voluptatem impedit adipisci aliquid dolore. Aperiam neque recusandae repellat ducimus perferendis!</p>
                        <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</small>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <script src="../assets\js\jquery-3.5.0.min.js"></script>
    <script src="../assets\js\bootstrap.bundle.min.js"></script>

    <script>
        $(()=>{
            
            

        })
    </script>
    
</body>
</html>