<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toast</title>
    <link rel="stylesheet" href="../node_modules\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="../challenge03\mysolution\assets\css\style.css">
    <style>
        
    </style>
</head>
<body>    


    <div class="modal" id="modal-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"><h4>Título do modal</h4></div>
                    <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-continue-1">Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-2">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"><h4>Modal XL</h4></div>
                    <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-continue-2">Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-3">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"><h4>Scrollable</h4></div>
                    <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-continue-3">Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <!--see events in console-->
    <div class="modal" id="modal-4">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"><h4>Events</h4></div>
                    <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-continue-4">Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-5">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"><h4>Centered</h4></div>
                    <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt officia illo temporibus nobis mollitia, quas accusantium odio, molestias maiores fugiat recusandae inventore voluptatibus autem hic placeat eligendi minima cupiditate!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-continue-1">Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <button type="modal" data-toggle="modal" data-target="#modal-1" class="btn btn-warning text-white font-weight-bold m-2">Open Modal</button>

        <button type="modal" data-toggle="modal" data-target="#modal-2" class="btn btn-warning text-white font-weight-bold m-2">Open Modal XL</button>

        <button type="modal" data-toggle="modal" data-target="#modal-3" class="btn btn-warning text-white font-weight-bold m-2">Open Modal Scrollable</button>

        <button type="modal" data-toggle="modal" data-target="#modal-4" class="btn btn-warning text-white font-weight-bold m-2">Open Modal Event</button>

        <button type="modal" data-toggle="modal" data-target="#modal-5" class="btn btn-warning text-white font-weight-bold m-2">Open Modal Centered</button>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, similique incidunt nemo dicta vero modi id quibusdam. Eos quibusdam nihil dicta exercitationem explicabo harum culpa fugiat. Quo et necessitatibus iure.</p>

        <hr>
        <img src="https://picsum.photos/536/354" alt="img" class="card-img">

    </div>


    <script src="../node_modules\jquery\dist\jquery.min.js"></script>
    <script src="../node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>

    <script>  

        $(()=>{

           $('#btn-continue-1').on('click', e=>{
               $('#modal-1').modal('hide')
               console.log("modal closed/hidden")
           })

           $('#btn-continue-2').on('click', e=>{
               $('#modal-2').modal('hide')
               console.log("modal XL closed/hidden")
           })

           $('#btn-continue-3').on('click', e=>{
               $('#modal-3').modal('hide')
               console.log("scrollable modal closed/hidden")
           })

           $('#btn-continue-4').on('click', e=>{
               $('#modal-4').modal('hide')
               console.log("event modal closed/hidden")
           })

           $('#modal-4').on('show.bs.modal', e=>{
               console.log('show.bs.modal', e.target)
           })
           $('#modal-4').on('shown.bs.modal', e=>{
               console.log('shown.bs.modal', e.target)
           })
           $('#modal-4').on('hide.bs.modal', e=>{
               console.log('hide.bs.modal', e.target)
           })
           $('#modal-4').on('hidden.bs.modal', e=>{
               console.log('hidden.bs.modal', e.target)
           })

           $('#btn-continue-5').on('click', e=>{
               $('#modal-5').modal('hide')
               console.log("centered modal closed/hidden")
           })

        })

    </script>
    
</body>
</html>