<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="../node_modules\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="../challenge03\mysolution\assets\css\style.css">
    
</head>
<body>

    <!--navbar responsivo-->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a href="#" class="navbar-brand">Jhonatas</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="" class="nav-link">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Characters</a>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item">Metalrock</a>
                        <a href="" class="dropdown-item">Yesper</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">Gaia</a>
                        <a href="" class="dropdown-item">Luna</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">Warseeker</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>
            </ul>   
            <form action="" class="form-inline my-2 my-lg-0">
                <input type="search" name="" id="" class="form-control mr-sm-2" placeholder="Pesquisar...">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">GO</button>
            </form> 
        </div>    
    </nav>

    <div class="container">
        
    </div>    

    <script src="../node_modules\jquery\dist\jquery.min.js"></script>
    <script src="../node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
    <script>
        


    </script>
    
</body>
</html>