body{
    background-color: rgb(202, 202, 202);
}

a, button{
    text-decoration: none;
}

.green-bg-top{
    background-color: green;
    height: 120px;
    width: 100vw;
    position: fixed;
}

.container-fluid{
    height: 100vh;
}

section.side-column{
    min-height: 400px;
    min-width: 245px;
    width: 340px;
    background-color: #f8f8f8;
}

main{
    width: calc(100vw - 100px);
    max-width: 1400px;
    height: calc(100vh - (100px));
    min-height: 400px;
    position: relative;
    z-index: 10;
    margin: 30px auto 20px auto;
}

.row-list-user,
.row-list-contact{
    height: 50px;
}

.list-group-item{
    background-color: #fff;
    padding: 10px 20px 10px 10px;    
}

.list-group-item-user{
    background-color: #eee;
    margin-bottom: 40px;
}

.row-list-user a>img{    
    width: 50px;
}
.row-menu a{
    padding: 0;
    margin: auto 20px;
}

.row-list-user .row-menu i{
    font-size: 22px;
    color: #9d9d9d;
}

.row-list-user .row-menu i:hover{
    color: #9d9d9dbe;
}

.msg-hour{
    color: #999;
    font-size: 12px;
}

.row-stats .row .col{
    height: 20px;
    padding: 2px 5px;
    margin: 2px;    
}
.row-stats .row i{
    color: #9d9d9d;
}

.contact-name{
    height: 24px;
    font-size: 18px;
}
.contact-last-msg{
    font-size: 15px;
    color: #9b9b9b;
}

.text-field{  
    height: 100%;
    background-color: #e5ddd5;
}

.main-text-bar{
    height: 70px;
    background-color: #eee;
}

.main-text-bar input{
    height: 48px;
    border: none;
    border-radius: 50px;   
    margin: auto 15px; 
    padding-left: 20px;
    font-size: 18px;
    color: #333;
}

.main-text-bar i{
    font-size: 24px;
    color: #9d9d9d;
    margin: auto 10px;
}

.main-text-bar i:hover{
    color: #9d9d9dbe;
}

.my-credits{
    margin: 0 auto;
    color: #444;
    font-weight: light;
    font-size: 14px;
}

@media (max-height: 490px){
    main{
        height: 100vh;        
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
@media (max-width: 710px){
    main{
        width: 100vw;        
        margin-left: 0px;
        margin-right: 0px;
    }
}

