body{
    background-color: #f37520;
}

header{
    margin: 2vh auto;
}

header, nav, main{
    background-color: #FFF;
    min-height: 10vh;
}

[class^=col-],
.col{
    background-color: #FFF;
    border: 1px solid black;
}

nav, main{
    min-height: 82vh;
}

@media (min-width: 576px) { 
  
 }

@media (min-width: 768px) { 
   
 }

@media (min-width: 992px) { 
   
 }

@media (min-width: 1200px) { 
   
 }